App_WebReferences/AddShowService/AddShowService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1170/AddShowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="AddArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="a" nillable="true" type="q1:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="s" nillable="true" type="q2:Show" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sd" nillable="true" type="q3:ShowDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetArtistsResult" nillable="true" type="q4:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetShowsResult" nillable="true" type="q5:ArrayOfShow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>